{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
<!--{{ media }}-->
<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function () {

    function triggerChangeOnField(win, chosenId) {
        var name = windowname_to_id(win.name);
        var elem = document.getElementById(name);

        if (name == 'id_client_name') {
            var url = "/data/get_gstin/";
            var data = {'data' : chosenId};
            send_request('POST', url, data, callback);

            function callback(response) {
                document.getElementById('id_gstin').setAttribute('value', response['gstin']);
            }
        }
        else if (name.includes('id_bill_set')){
            var url = "/data/get_basic_rate/" + chosenId;
            
            send_request('GET', url, '', callback);

            function callback(response) {
                document.getElementById(name.replace('product_name','basic_rate')).setAttribute('value',response['basic_rate']);
            }
        }
    }

    function send_request(type, url, data, callback) {
        var request = new XMLHttpRequest();
        request.open(type, url, true);
        if (type == 'GET')
            request.send();
        else if (type == 'POST') {
            var payload = JSON.stringify(data);
            request.send(payload);
        }
        request.onload = () => {
            var response = JSON.parse(request.responseText);
            callback(response);
        };
    }

    window.ORIGINAL_dismissRelatedLookupPopup = window.dismissRelatedLookupPopup
    window.dismissRelatedLookupPopup = function (win, chosenId) {
        ORIGINAL_dismissRelatedLookupPopup(win, chosenId);
        triggerChangeOnField(win, chosenId);
    }

    window.ORIGINAL_dismissAddAnotherPopup = window.dismissAddAnotherPopup
    window.dismissAddAnotherPopup = function (win, chosenId) {
        ORIGINAL_dismissAddAnotherPopup(win, chosenId);
        triggerChangeOnField(win, chosenId);
    }
});
</script>

{% endblock %}